.page {
  padding-bottom: 30px;

  &__home {
    padding-top: 40px;
  }

  &__projects {
    padding-top: 40px;
  }

  &__tasks {
    padding-top: 40px;
  }

  &__task-details {
    padding-top: 40px;
  }

  &__peoples {
    padding-top: 40px;
  }

  &__create {
    padding-top: 40px;
  }

  &__login {
    padding-top: 50px;
  }
}
